body{
    font-size: 14px;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

h3{
    text-decoration: underline;
    color: rgba(16, 16, 83, 0.938);
}

.contenaire{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.80fr 1fr 1fr 1fr;
    grid-template-rows: 0.20fr 1fr 1fr 0.20fr ;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar contenu2 contenu3 contenu4"
    "sidebar contenu2 contenu3 contenu4"
    "sidebar footer footer footer" ;
}

.nav{
    grid-area: nav;
    text-align: center;
    background-image: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );  
}
 
.sidebar{
    background-image: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );
    grid-area: sidebar;
    
}

#moi{
 background: url("images/luisrodrigues.jpg");
 width: 200px;
 height: 200px;
 margin-left: 50px;
 margin-top: 40px;
 opacity: 0.9;


}

.info{
margin-top: 60px;
margin-left: 30px;
text-align: justify;

}

.info p, h2{
 color: white;
}

.content2{
    grid-area: contenu2;
   

}

.info2{
   margin-left: 40px;
   margin-top: 20px;
   
  
}

.info3{
    margin-left: 60px;
    margin-top: 20px;
   

}

.info4{
    margin-left: 20px;
    margin-top: 20px;

}

.info5{
    margin-left: 100px;
    margin-top: 70px;
  
}

.info6{
    margin-left: 60px;
    margin-top: 40px;

}

.info7{
    margin-left: 100px;
    margin-top: 20px; 
}


.content3{
    grid-area:contenu3;
   

}
.content4{
    grid-area:contenu4;
   

}


.footer{
    grid-area: footer;
   

}

.skills{
   display: flex;
    justify-content: center;
    margin-top: 20px;
    color: red;
}

h5{
    text-align: center;
}

.footer{
    background-image: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );  
}