body{
    background-color: white;

}



.contenaire{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.80fr 1fr 1fr 1fr;
    grid-template-rows: 0.20fr 1fr 1fr 0.20fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar contenu contenu2 contenu3"
    "sidebar contenu contenu2 contenu3"
    "sidebar footer footer footer" ;


}

.nav{
    background-color: cyan;
    grid-area: nav;
    border: solid 1px;
    border-color: black;
    
}
 
main{
    background-color: darkcyan;
    grid-area: main;
}

.sidebar{
    background-color: darkcyan;
    grid-area: sidebar;
    
}


.content{
    grid-area: contenu;
    background-color: cadetblue;
    justify-content: center;

}

.content2{
    grid-area: contenu2;
    background-color:cadetblue ;

}

.content3{
    background-color: cadetblue;
    grid-area: contenu3;
}

.footer{
    grid-area: footer;
    background-color: black;
}
img{
    width: 150px;
    padding-left: 30px;
    padding-top: 50px;
    
}