body{
    background-color: #282828;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;

}

h2, h3, h4, p{
    color: white;
}

img{
    width: 200px;
    height: 200px;
}

.contenaire1{
    background-color: rgb(9, 68, 9);
    flex-direction: column;
    grid-area: b;
}

.photo{
    padding-top: 30px;
    padding-left: 20px;
}

.info{
    padding-top: 30px;
    padding-left: 20px;
}


.contenaire2{

    background-color: rgba(245, 245, 245, 0.185);
    flex-direction: column;

}